<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>platform-application</key>
  <false/>
  <key>com.worthdoingbadly.entitlement.dummy1</key>
  <false/>
  <key>com.worthdoingbadly.entitlement.dummy2</key>
  <false/>
</dict>
</plist>