name: Build package and produce artifact

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'book.json'
      - '.gitignore'
      - 'Dockerfile'
      - 'Dockerfile.*'
      - '.devcontainer/**'
      - '.vscode/**'
      - '.github/**'
      - 'docs/**'
    branches:
      - "main"
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'book.json'
      - '.gitignore'
      - 'Dockerfile'
      - 'Dockerfile.*'
      - '.devcontainer/**'
      - '.vscode/**'
      - '.github/**'
      - 'docs/**'
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine

      - name: Build module
        run: |
          python setup.py sdist bdist_wheel

      - uses: actions/upload-artifact@v3
        with:
          name: Permasigner
          path: dist/*
