name: Run script

on:
  workflow_dispatch:
    inputs:
      ipa:
        description: "Direct URL to IPA file"
        required: true

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      # Checkout the latest code from the repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # Setup which version of Python to use
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Run script
      - name: Run script
        run: python main.py -u ${{ github.event.inputs.ipa }} -n -d

      # Upload test artifact
      - uses: actions/upload-artifact@v3
        with:
          name: App.deb
          path: output/*